.download_img_title
{
    color:white;
    font-family: 'Aduma';
    font-size: 25px;
    text-align: right;
    padding-right: 80px;
    padding-top: 10px;
}
.download_img_cont
{
    height:50%;
    position:relative;
}

.download_img_subtitle{
    color:white;
    font-family: 'Aduma';
    font-size: 20px;
    text-align: right;
    margin-right: 30px;
}
.download_img_new{
    position: absolute;
    right:20px;
    top:5px;
}
.padding_top_title{
    padding-right: 30px;
}
.download_btn{
    background-color: transparent;
    border: 1px solid #2196F3;
    color: #2196F3;
    width:90%;
    margin-left: 5%;
    margin-top: 25px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
}
.last_title{
    color: #ffffff9c;
    text-align: right;
    font-size: 10px;
    margin-right:40px;
    margin-top:20px; 
}

.check_img{
   position: absolute;
   top: 150px;
   right: 20px; 
}
.download_img_cont_border{
    border-top: 1px solid #80808099;
}