.bg_general{
    border: 1px solid black;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    margin-top: 143px;
    border-radius: 20px;
    background-color: #22234A;
    box-shadow: 1px 1px 24px #111111 ;
    position:relative;
}
.close_img{
    position: absolute;
    top: 21px;
    left: 21px;
}
.title{
    color:white;
    font-size: 38px;
    text-align: right;
    margin-top:16px;
    margin-right:16px;
    font-family: Aduma;
}
.upload_btn{
    background-color: #475366;
    color:white;
    height: 35px;
    width:140px;
    border:0;
    border-radius: 20px;
    position: absolute;
    top:46px;
    left:32px;
    background-image: url(../../assets/Upload.png);
    background-repeat: no-repeat;
    background-position: 20px 10px;
    text-align: right;
    padding-right: 20px;
}
.upload_text{
    color: #ffffff94;
    position: absolute;
    left:190px;
    font-size: 12px;
    direction: rtl;
}
.middle_div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 40px;
}
.right_div{
    height:510px;
    width:30%;
    background-color: #2F3A4B;
    border-radius: 10px;
}
.left_div{
    height:510px;
    width:66%;
    background-color: #2F3A4B;
    border-radius: 10px; 
}

.right_div_inner,.left_div_inner{
    background-color: #161B21;
    height: 410px;
    margin-top: 50px;
}
.left_div_footer{
    position: relative;
}

.takanon_btn{
    background-color: #475366;
    color:white;
    height: 30px;
    width:140px;
    border:0;
    border-radius: 20px;
    position: absolute;
    top:10px;
    left:10px;
    background-image: url(../../assets/eula.png);
    background-repeat: no-repeat;
    background-position: 20px 10px;
    text-align: right;
    padding-right: 20px;
    cursor:pointer;
}

.takanon_text{
    color:#ffffff94;
    position: absolute;
    right:0;
    font-size: 10px;
    direction: rtl;
    top:20px;
    right:10px;
    
}

.footer_cont{
    display: flex;
    position: relative;
}
.footer_logo{
    position: absolute;
    left:40px;
    top:30px; 
    width:150px;
}
.footer_banner{
   position: absolute;
   right:20px;
   top:25px; 
   width:665px;
}

.tabs_cont{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width:65%;
    padding-top: 10px;
}

.tab{
    color:white;
    width:100px;
    text-align: right;
    height: 35px;
    padding-right: 10px;
    cursor: pointer;
}
.selected_tab{
    border-bottom: 3px solid #9c27b0;
}
.layout{
    background-color: #000000ad;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.input_file{
    display: none;
}

.error_msg
{
    color: red;
    position: absolute;
    top:80px;
    left:55px;
    font-size: 12px;
}