.no_bg_title {
    color: #2196f3ad;
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
    margin-top: 25px;
    position: absolute;
    right: 0;
}

.uploaded_img{
    width: 100%;
    margin-top: 73px;
}

.no_bg_cont{
    position: relative;
}

.warning{
    position: absolute;
    right: 4px;
    top: 28px;
}

.choose_color{
    background-color: transparent;
    color: #ffffff8f;
    border: 1px solid #ffffff80;
    padding: 7px;
    border-radius: 20px;
    width: 100px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.input_color{
    opacity: 0;
    position: absolute;
    top: 19px;
    left: 15px;
}