.eula_popup_cont
{
    background-color: white;
    width: 500px;
    height: 480px;
    border:1px solid black;
    position: absolute;
    top: 215px;
    left:505px;
    border-radius: 10px;
}
.close_eula{
    position: absolute;
    top:10px;
    left:10px;
    cursor: pointer;
}
.eula_popup_text{
    margin-top: 35px;
    margin-left: 40px;
}